<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APP_KASIR_RESTO.Properties.Settings.KASIR_RESTOConnectionString"
            connectionString="Data Source=DESKTOP-1KQRPTA\SQLEXPRESS01;Initial Catalog=KASIR_RESTO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>